NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
AUTH_RESEND_KEY=
AUTH_EMAIL_FROM=noreply@yourdomain.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DATABASE_URL=postgresql://app:app@localhost:5432/custom_interface
REDIS_URL=redis://localhost:6379
